:root {
	--white: #ffffff;
	--black: #000000;
	--dark: #232830;
	--very-light-pink: #c7c7c7;
	--text-input-field: #f7f7f7;
	--hospital-green: #acd9b2;
	--font: 'Quicksand', sans-serif;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	font-family: var(--font);
}
nav {
	display: none;
}
main {
	display: flex;
	margin: 20vh auto;
	flex-direction: column;

	width: 80vw;
	max-width: 400px;
	min-width: 250px;
}
.logo-phone {
	margin-bottom: 10vh;
	width: 60%;
	align-self: center;
	display: none;
}

.main-title {
	align-self: center;
}
.main-subtitle {
	align-self: center;
	font-size: 1.5rem;
	color: var(--very-light-pink);
	margin-bottom: 5vh;
}
.main-password,
.main-correo {
	border: none;
	background-color: var(--very-light-pink);
	border-radius: 10px;
	width: 100%;
	height: 5vh;
	margin-bottom: 5vh;
	font-weight: bold;
}
.main-submit {
	border: none;
	background-color: var(--hospital-green);
	width: 100%;
	height: 8vh;
	border-radius: 15px;
	margin-top: 10vh;
	cursor: pointer;
}
label {
	font-size: 1.5rem;
}
@media (max-width: 600px) {
	.logo-phone {
		display: block;
	}
}
@media (min-width: 600px) {
	nav {
		display: flex;
		justify-content: space-between;
		height: 10vh;
		background-color: var(--text-input-field);
	}
	.logo-phone {
		display: none;
	}
	.logo-header {
		height: 4rem;
		align-self: center;
		margin-left: 20px;
	}
	nav a {
		text-decoration: none;
		color: var(--black);
		font-weight: bold;
		font-size: 3rem;
		margin-right: 3vw;
	}
	/* nav a:after {
		content: ' | ';
	
	} */
	.div-nav {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
}
